// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session_form {
  margin: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 5px;
  }
}
